<!DOCTYPE html>
<html
        lang="en"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Change Password</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/registration.css">
</head>
<body>
    <form method="post" th:action = "@{/user/save-password}" class="registration-section-container-form">
        <div class="registration-section-container-form-input-wrapper">
            <img class="box-icons" src="/img/lock-icon.svg" alt="User Icon">
            <label for="password"></label>
            <input class="registration-section-container-form-input" name="password" id="password" placeholder="Password" type="password" onkeyup="check()" required>
        </div>
        <div class="registration-section-container-form-input-wrapper mb0">
            <img class="box-icons" src="/img/lock-icon.svg" alt="User Icon">
            <label for="newPassword"></label>
            <input class="registration-section-container-form-input" name="newPassword" id="newPassword" placeholder="Confirm Password" type="password" onkeyup="check()" required>
            <span id='message'></span>
        </div>
        <input hidden name="token" id="token" th:value="${token}">
        <input type="submit" id="submitbtn" value="Create account" class="registration-section-container-form-submit">
    </form>

    <script>
        var check = function() {

            if (document.getElementById('password').value ==
                document.getElementById('confirm_password').value) {
                document.getElementById('message').style.color = 'green';
                document.getElementById('message').innerHTML = 'matching';
                document.getElementById('submitbtn').disabled = false;
            } else {
                document.getElementById('message').style.color = 'red';
                document.getElementById('message').innerHTML = 'not matching';
                document.getElementById('submitbtn').disabled = true;
            }
        }
    </script>

</body>
</html>