<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="https://www.thymeleaf.org"
        lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password Reset</title>
</head>
<body>
<div>
    <h2>Reset your password</h2>
</div>
    <form method="post" th:action="@{/user/reset-password}" >
        <div class="registration-section-container-form-input-wrapper">
            <img class="box-icons" src="/img/mail-icon.svg" alt="User Icon">
            <label for="email"></label>
            <input class="registration-section-container-form-input" name="email" id="email" placeholder="Email address" type="email" required>
        </div>
        <input type="submit" id="submitbtn" value="Send Request" class="registration-section-container-form-submit">
    </form>
</body>
</html>